<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="limesharp" translate="label" sortOrder="200">
            <label>Limesharp</label>
        </tab>
        <section id="limesharp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Config</label>
            <tab>limesharp</tab>
            <resource>Limesharp_StockImport::cron</resource>
            <group id="stockimport" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Stock Import Configurations</label>
                <field id="cron_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron Schedule</label>
                    <comment><![CDATA[
                            <pre>
                            * * * * *
                            | | | | |
                            | | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
                            | | | +------ Month of the Year (range: 1-12)
                            | | +-------- Day of the Month  (range: 1-31)
                            | +---------- Hour              (range: 0-23)
                            +------------ Minute            (range: 0-59)
                            Default: */10 * * * * Every 10 minutes
                            </pre>
                            ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
